* {
  transition: all 0.5s ease-in-out;
}

.menu {
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
}

.heading {
  margin-bottom: 30px;
  padding: 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading h1 {
  font-weight: 400;
  letter-spacing: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}

.heading h2{
  font-weight: 400;
  text-align: left;
  font-size: 30px;
  padding: 0 30px;
}

.food__items {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 10px;
}

.food__items img {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h1 {
  grid-column: 1/-1;
  text-align: center;
}

.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub h5 {
  font-weight: 600;
  font-size: 18px;
}

.details p {
  color: #eee;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}
